[target.'cfg(all(target_arch = "arm", target_os = "none"))']
runner = [ "probe-rs", "run", "--chip", "STM32F103C8" ]
rustflags = [
  "-C", "link-arg=-Tlink.x",
  "-C", "link-arg=--nmagic",
  "-C", "link-arg=-Tdefmt.x",
]

[build]
target = "thumbv7m-none-eabi"
